<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your shopping cart</title>
</head>
<body>
<h1>Your shopping cart</h1>
<form action="{{url_for('update_cart')}}" method="post"></form>
<table class="cart">
    <tr>
        <th>ID</th> <th>Name</th> <th>Price</th>
        <th>Quantity</th>
    </tr>
    {% for product in carts %}
    <tr>
        <td>{{ product['id']}}</td>
        <td>{{ product['name']}}</td>
        <td>{{ product['price']}}</td>
        <td>{{ product['quantity']}}</td>
        <td><input type="number" name="quantity--{{product['id']}}" min="0" value="{{ product['quantity']}}"></td>
        <td><input type="checkbox" name="delete--{{ product['id']}}" id=""></td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Update Cart">
</body>
</html>