<body>
<div class="container">
    <h1>Registration</h1>
    <form action="{{ url_for('register') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <span class="validation-message">{{ username_error}}</span>
        <br>
        <label for="email">email:</label>
        <input type="text" name="email" id="email" required>
        <span class="validation-message">{{ email_error}}</span>
        <br>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" required>
        <span class="validation-message">{{ password_error}}</span>
        <br>
        <button type="submit">Register</button>
    </form>
    <p class="success-message">{{registration_success}}</p>
</div>
</body>