<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>of User from Web Api</title>
</head>
<body>
    <h1>List of users</h1>
    <form action="" method="post">
        <table class="cart">
            <thead>
            <tr>
                <th>id</th> <th>name</th> <th>email</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user["id"] }}</td>
                    <td>{{ user["name"] }}</td>
                    <td>{{ user["email"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</body>
</html>